<div class="summer-special-sec news-letter-sec">
    <div class="orange-pocket-shirt-img summer-special-img-sec"></div>
    <div class="special-offer-msg">
        <div class="special-offer-msg-border MA-0">
            <div class="news-letter-logo"></div>
            <div class="special-offer-header">NEWSLETTER</div>
            <div class="special-offer-content mb-2">
                <div>Subscribe to our email newsletter for useful tips sent out every second Tuesday</div>
            </div>
            <form class="news-letter-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Full Name">
                    <div class="input-addon">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email Address">
                    <div class="input-addon">
                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </div>
                </div>
                <button type="button" class="btn btn-danger subscribe-btn btn-lg btn-block">SUBSCRIBE
                  <div class="input-addon">
                    <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                </div>
                </button>
            </form>
        </div>
    </div>
    <div class="summer-white-shirt-img summer-special-img-sec"></div>
</div>
