<div class="container">
    <div class="row MA-0">
        <div class="col-12 header-info">
            FREE SHIPPING & RETURNS WITHIN UAE - CASH ON DELIVERY
        </div>
        <div class="col-9 PA-0">
            <hr class="header-border">
        </div>
        <div class="col-3 signIn-sec PA-0">
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AED</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bag</a>
                    <!-- <div class="bag-sec"></div> -->
                </li>
            </ul>
        </div>
    </div>
    <div class="row MA-0">
        <div class="col-3 PA-0">
            <div class="logo-sec"></div>
        </div>
        <div class="col-8">
            <app-navbar-section></app-navbar-section>
        </div>
        <div class="col-1 search-sec">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
    </div>
</div>
