<div class="container">
    <div class="footer-sec mt-5">
        <div class="adderss-sec mr-3">
            <app-address-sec></app-address-sec>
        </div>
        <div class="footer-subSection">
            <app-about-us-sec></app-about-us-sec>
        </div>
        <div class="footer-subSection">
            <app-policies-sec></app-policies-sec>
        </div>
        <div class="footer-subSection">
            <app-customer-service-sec></app-customer-service-sec>
        </div>
        <div class="footer-subSection">
            <app-social-media-sec></app-social-media-sec>
        </div>
    </div>
    <div class="row MA-0">
        <div class="col-12 footer-copyright-sec mb-3 PA-0">
            <div class="float-left">
                <span class="footer-copyright-msg">
             All Rights Reserved &copy; 2016
           </span>
                <span>TheWareHouse</span>
            </div>
            <div class="float-right d-flex">
                <div class="footer-copyright-msg">
                    Web Design Dubai
                </div>
                <div class="web-design-logo"></div>
                <div>Cactimedia</div>
            </div>
        </div>
    </div>
</div>
