<div class="row MA-0">
    <div class="col-12 PA-0">
        <app-feature-carousel-section></app-feature-carousel-section>
    </div>
    <div class="container">
        <div class="products-sec">
            <app-sale-products></app-sale-products>
        </div>
        <div class="products-sec">
            <app-latest-products></app-latest-products>
        </div>
    </div>
    <div class="col-12 PA-0">
        <app-summer-special-sale></app-summer-special-sale>
    </div>
    <div class="container">
        <div class="products-sec">
            <app-best-products></app-best-products>
        </div>
        <div class="products-sec">
            <app-brands></app-brands>
        </div>
    </div>
    <div class="col-12 PA-0">
        <app-news-letter></app-news-letter>
    </div>
    <div class="container">
        <div class="products-sec">
            <app-info-sec></app-info-sec>
        </div>
    </div>
    <div class="col-12 PA-0">
        <app-social-section></app-social-section>
    </div>
</div>
