<ul class="nav nav-pills topbar-nav-sec">
    <li class="nav-item">
        <a class="nav-link " href="#">TRENDING</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">DESIGNERS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">BRANDS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">DEALS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">WOMEN
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">MEN
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">KIDS
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">POP CULTURE
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
    </li>
</ul>
