<div class="summer-special-sec">
    <div class="women-sec-img social-img-sec"></div>
    <div class="special-offer-msg">
        <div class="special-offer-msg-border summer-special-msg">
            <div class="be-social-logo"></div>
            <div class="special-offer-header mb-1">BE SOCIAL</div>
            <div class="special-offer-content">
                <div>We frequently give coupons for our customers, Stay tuned and follow us on our social media.</div>
                <div>You can win too</div>
            </div>
            <div class="social-media-icons">
                <div class="facebook-icon"></div>
                <div class="instagram-icon"></div>
                <div class="pinterest-icon"></div>
            </div>
        </div>
    </div>
    <div class="men-sec-img social-img-sec"></div>
</div>
